<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PDF Outline</title>
    <link rel="stylesheet" href="">
    <!-- Flipbook StyleSheet -->
    <link href="css/dflip.css" rel="stylesheet" type="text/css">

    <!-- Icons Stylesheet -->
    <link href="css/themify-icons.css" rel="stylesheet" type="text/css">
    <style>
        body, html {
            height:100%;
            margin:0;
        }
    </style>
</head>
<body>
<div id="flipbookContainer"></div>

<!-- jQuery 1.9.1 or above -->
<script src="js/libs/jquery.min.js" type="text/javascript"></script>

<!-- Flipbook main Js file -->
<script src="js/dflip.min.js" type="text/javascript"></script>

<script>
    var flipBook;
jQuery(document).ready(function () {
    //make sure this file is hosted in localhost or any other server
    var pdf = 'example-assets/books/alice.pdf';
    var options = {
        webgl:false,
        height: 400,
        duration: 800,
        autoEnableOutline:true //auto open the outline/bookmarks tab
    };
    flipBook = $("#flipbookContainer").flipBook(pdf, options);
});
</script>
</body>
</html>