.hearer-view{
    border-bottom: 1px solid #dddddd;
    display: flex;
    align-items: center;
    -ms-flex-item-align: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.header-action{
    font-size: 14px;
    color: #333333;
    font-weight: 600;
    cursor: pointer;
}
.header-action-panle{
    width: 200px;
    position: absolute;
    top:15px;
    left: -77px;
    padding: 10px;
    background: #ffffff;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    display: none;
    z-index: 99;
}
.header-action-panle .arrow{
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    top: -22px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #999;
    border-bottom-color: rgba(0,0,0,.25);
    border-width: 11px;
}
.header-action-panle .arrow::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 50%;
    top: 1px;
    transform: translateX(-50%);
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
}

.action-item{
    font-size: 12px;
    color: #333333;
    text-align: left;
    margin-bottom: 6px;
}
.action-item:hover{
    text-decoration: underline !important;
}
.header-action .point-move{
    position: relative;
    display: inline-block;
    width: 15px;
    background: #eeeeee;
}
.header-action .point-move .point{
    position: absolute;
    left: 10px;
    width: 3px;
    height: 3px;
    background: #333333;
    border-radius: 3px;
    overflow: hidden;
}
.header-action .point-move .p1{
    top: -10px;
}
.header-action .point-move .p2{
    top: -6px;
}
.header-action .point-move .p3{
    top: -2px;
}
.header-right-c{
    display: flex;
    align-items: center;
    -ms-flex-item-align: center;
}
.header-right-c span{
    font-size: 12px;
    color: #3069b3;
    cursor: pointer;
}
.header-right-view .search-view{
    width: auto;
    height: 28px;
    line-height: 28px;
    color: #333333;
    display: flex;
    border: 1px solid #999999;
    border-radius: 4px;
    overflow: hidden;
}
.header-right-view .search-ip{
    width: 180px;
    height: 100%;
    display: inline-block;
    text-indent: 2px;
    border: 0;
    border: 1px solid #dddddd;
    border-radius: 3px;
    overflow: hidden;
}
.header-right-view .i-select{
    display: inline-block;
    height: 100%;
    width: 20px;
    position: relative;
}
.header-right-view .i-select-icon{
    width:0;
	height:0;
	border-right:4px solid transparent;
	border-left:4px solid transparent;
	border-top:5px solid #999999;
    position: absolute;
    top: 10px;
    left: 6px;
    display: inline-block; 
}
.header-right-view .input-group{
    display: flex;
    position: relative;
}
.header-right-view .form-control-box{
    display: inline-block;
    overflow: hidden;
}
.header-right-view .form-control{
    padding: 6px 26px 6px 12px !important;
}
.header-right-view .arrow-box{
    display: inline-block;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
}
.header-right-view .header-input-select{
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    height: auto;
    max-height: 100px;
    border: 1px solid #dddddd;
    overflow-x: hidden;
    overflow-y: auto;
    background: #ffffff;
    z-index: 999;
    display: none;
}
.header-right-view .header-input-select span{
    display: block;
    font-size: 12px;
    color: #999999;
    height: 25px;
    line-height: 25px;
    text-align: left;
}
.header-right-view .header-input-select span:hover{
    background: #999999 !important;
    color: #467CD4 !important;

}


/*project lsit*/
.project-columns{
    display: flex;
    justify-content: space-between;
}
.project-columns .my-project{
    display: inline-block;
    border-right: 1px solid #dddddd;
    width: 50%;
    height: 600px;
}
.project-columns .header-cell,.peoject-manage .header-cell{
    display: flex;
    align-items: center;
    -ms-flex-item-align: center;
    justify-content: space-between;
    padding: 20px;
}
.project-columns .title,.peoject-manage .title{
    font-size: 18px;
    color: #333333;
    font-weight: 600;
}
.project-columns .new-project-btn,.peoject-manage .new-project-btn{
    display: inline-block;
    padding: 5px 10px 5px 10px;
    font-size: 12px;
    color: #333333;
    border-radius: 4px;
    border: 1px solid #999999;
    cursor: pointer;
}
.project-columns .new-project-btn:hover{
    background: #eeeeee;
}
.project-columns .project-list{
    padding: 20px;
}
.project-columns .project-item{
    margin:10px 10px 0 10px;
    width:90px;
    height: 100px;
    cursor: pointer;
    display: inline-block;
    position: relative;
}
.project-columns .project-item-panle{
    position: absolute;
    top: 0;
    right: -182px;
    width: 170px;
    height: 140px;
    background: #ffffff;
    z-index: 9;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    display: none;
}
.project-columns .project-item-panle .list-box .arrow{
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    top: 31px;
    left: -43px;
    margin-bottom: -11px;
    border-bottom-width: 0;
    border-right-color: #999;
    border-right-color: rgba(0,0,0,.25);
    border-width: 11px;
}
.project-columns .project-item-panle .list-box .arrow::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 7px;
    top: -10px;
    transform: translateX(-50%);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #ffffff;
}
.project-columns .project-item-panle .list-box{
    position: relative;
}

.project-columns .project-item-panle .item{
    text-align: left;
}
.project-columns .project-item-panle .item:hover{
    text-decoration: underline !important;
}
.project-columns .project-item-panle .line{
    border-bottom: 1px solid #999999;
    display: block;
}
.project-columns .project-thumb{
    width: 100%;
    height: 100px;
    background: #eeeeee;
    border: 1px solid #eeeeee;
    display: inline-block;
}
.project-columns .project-dec{
    text-align: center;
    font-size: 12px;
    color: #6399e0;
    font-weight: 600;
    padding-top: 10px;
}


/*manage*/
.project-columns .peoject-manage{
    display: inline-block;
    width: 50%;
}
.project-columns .manage-opt{
    padding: 20px;
}
.peoject-manage .hint{
    font-size: 12px;
    color: #333333;
}

/*modal*/
.vo-modal-body{
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 60px auto auto auto;
    background: #ffffff;
    border-radius: 6px;
    padding: 10px 20px 10px 20px;
    color: #444444;
    z-index: 999999;
    text-align: left;
    margin-bottom:100px;
}
 .vo-optone-body{
    width: 400px;
    min-height: 100px;
    max-height: 220px;
}
.vo-opttwo-body{
    display: block;
    width: 500px;
    min-height: 300px;
    max-height: 420px;
}
.vo-optthree-body{
    display: block;
    width: 500px;
    min-height: 320px;
    max-height: 325px;
}
.vo-optfour-body{
    display: block;
    width: 500px;
    min-height: 100px;
    max-height: 180px;
}
.vo-optfive-body{
    display: block;
    width: 600px;
    min-height: 100px;
    max-height: 290px;
}
.vo-optsix-body{
    display: block;
    width: 500px;
    min-height: 100px;
    max-height:500px;
}
.vo-optseven-body{
    display: block;
    width: 500px;
    min-height: 100px;
    max-height:585px;
}
.vo-modal-body .input-box{
    position: relative;
}
.vo-modal-body .input-box select{
    width: 100%;
    height: 24px;
    line-height: 24px;
}

/*opt1*/
.vo-optone-body .modal-title{
    font-size: 14px;
    color: #333333;
    font-weight: 600;
}
.vo-optone-body .project-name{
    font-size: 12px;
    color: #333333;
    font-weight: 600;
    padding-top: 10px;
}
.vo-optone-body .project-dec{
    font-size: 12px;
    color: #333333;
}
.vo-optone-body .phone-num{
    font-size:12px;
    color: #333333;
    padding-top: 15px;
    font-weight: 600;
}
.vo-optone-body .phone-input-cell{
    display: flex;
    align-items: center;
    -ms-flex-item-align: center;
}
.vo-optone-body .phone-input{
    display: inline-block;
    width: 160px;
    height: 28px;
}
.vo-optone-body .phone-input-cell .modal-submit-btn{
    border-radius: 2px;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    background: #00b5e2;
    padding: 4px 8px;
    display: inline-block;
    margin-left: 6px;
    cursor: pointer;
}
.vo-modal-body .phone-input-cell .modal-submit-btn:hover,.vo-modal-body .confirm:hover{
    background: #08bdeb !important;
}
.vo-modal-body .vo-modal-footer{
    padding-top: 30px;
}
.vo-modal-body .confirm{
    background: #00b5e2 !important;
}

/* opt2 */
.vo-opttwo-body .modal-title{
    font-size: 14px;
    color: #333333;
    font-weight: 600;
}
.vo-opttwo-body .project-name{
    font-size: 12px;
    color: #333333;
    padding-top: 10px;
}
.vo-opttwo-body .project-dec{
    font-size: 12px;
    color: #333333;
    font-weight: 600;
    padding-top: 8px;
}
.vo-opttwo-body .phone-num{
    font-size:12px;
    color: #333333;
    padding-top: 8px;
    padding-bottom: 10px;
}
.vo-opttwo-body .phone-input-cell-c2{
    padding-top:10px; 
}
.vo-opttwo-body .phone-input{
    width: 160px;
    height: 28px;
}
.vo-opttwo-body .phone-input-cell{
    position: relative;
}
.vo-opttwo-body .phone-input-cell .input-box{
    width: 160px;
}
.vo-opttwo-body .phone-input-cell .input-title{
    font-size: 12px;
    font-weight: 600;
}
.vo-opttwo-body .vo-modal-footer{
    display: flex;
    justify-content:space-between;
}
.vo-opttwo-body .vo-modal-footer .i-need-help{
    color: #00b5e2;
    font-size: 12px;
    text-align: center;
    padding: 4px 8px;
    cursor: pointer;
    display: inline-block;
}


/* opt3 */
.vo-optthree-body .modal-title{
    font-size: 14px;
    color: #333333;
    font-weight: 600;
}
.vo-optthree-body .project-name{
    font-size: 12px;
    color: #333333;
    padding-top: 10px;
}
.vo-optthree-body .projects{
    font-size: 12px;
    color: #333333;
    padding-top: 8px;
}
.vo-optthree-body .projects .sp1{
    font-weight: 600;
}

.vo-optthree-body .stores{
    font-size:12px;
    color: #333333;
}
.vo-optthree-body .stores .sp1{
    font-weight: 600;
}

.vo-optthree-body .phone-input-cell-c2{
    padding-top:10px; 
}
.vo-optthree-body .phone-input{
    width: 160px;
    height: 28px;
}
.vo-optthree-body .phone-input-cell{
    position: relative;
}
.vo-optthree-body .phone-input-cell .input-title{
    font-size: 12px;
    font-weight: 600;
    padding-top: 10px;
}

.vo-optthree-body .vo-modal-footer{
    display: flex;
    justify-content:space-between;
}
.vo-optthree-body .vo-modal-footer .i-need-help{
    color: #00b5e2;
    font-size: 12px;
    text-align: center;
    padding: 4px 8px;
    cursor: pointer;
    display: inline-block;
}

/* opt4 */
.vo-optfour-body .modal-title{
    font-size: 14px;
    color: #333333;
    font-weight: 600;
}
.vo-optfour-body .project-name{
    font-size: 12px;
    color: #333333;
    padding-top: 10px;
}

/* modal 5 */
.vo-optfive-body .content{
    display: flex;
    align-items: center;
    -ms-flex-item-align: center;
    justify-content: space-between;
}
.vo-optfive-body .lf-view{
  width: 60%;
}
.vo-optfive-body .lf-view p{
    font-weight: 600;
    color: #333333;
    font-size: 14px;
}
.vo-optfive-body .input-box{
    position: relative;
    width: 260px;
}
.vo-optfive-body input::-webkit-input-placeholder {
    font-size: 12px;
    color: #999999;
}
.vo-optfive-body .rg-view{
    width: 40%;
    padding-top: 20px;
}
.vo-optfive-body .rg-view .img-box{
    width: 173px;
    height: 92px;
}
.vo-optfive-body .rg-view .img-box img{
    width: 100%;
    height: 100%;
}
.vo-optfive-body .rg-view .text-dec{
    text-align: left;
    font-size: 12px;
    color: #333333;
}
.vo-optfive-body .rg-view .text-dec .here{
    font-size: 12px;
    color: #3069b3;
    cursor: pointer;
}
.vo-optfive-body .vo-modal-footer{
    display: flex;
    justify-content: space-between;
}
.vo-optfive-body .vo-modal-footer .i-need-help{
    color: #00b5e2;
    font-size: 12px;
    text-align: center;
    padding: 4px 8px;
    cursor: pointer;
    display: inline-block;
}


/* modal 6 */
.vo-optsix-body .modal-title{
    font-size: 12px;
    color: #333333;
    font-weight: 600;
}
.vo-optsix-body .title-aid{
    font-size: 12px;
    color: #333333;
}
.vo-optsix-body .con-cell-list{
    margin-top: 20px;
}
.vo-optsix-body .con-cell{
    margin-bottom:10px;
}
.vo-optsix-body .con-cell p{
   font-size: 12px;
   font-weight: 600;
}
.vo-optsix-body .con-cell input{
    border-radius: 4px;
    border: 1px solid #999999;
    padding: 0 10px;
    height: 24px;
    line-height: 24px;
    width: 180px;
}
.vo-optsix-body .con-cell-l2 input{
    width: 56px;
}
.vo-optsix-body .con-cell-l3 .input-box{
    position: relative;
    display: inline-block;
    width: 180px;
}
.vo-optsix-body .con-cell-l3 .input-box select{
    width: 100%;
    height: 24px;
    line-height: 24px;
}
.vo-optsix-body .con-cell-l3 .arrow-box{
    position: absolute;
    top: 0px;
    right: 4px;
}
.vo-optsix-body .select-type{
    position: absolute;
    top: 24px;
    left: 0;
    width: 100%;
    height: 140px;
    border: 1px solid #08bdeb;
    background: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 4px;
    display: none;
}
.vo-optsix-body .select-type .type-item{
    font-size: 12px;
    color: #333333;
    display: block;
    cursor: pointer;
    padding: 0 6px;
}
.vo-optsix-body .select-type .type-item:hover{
    background: #c8c8c8 !important;
}
.vo-optsix-body .con-cell-l4 input{
    width: 100px;
}
.vo-optsix-body .con-cell-l4 .input-box{
    display: flex;
    align-items: center;
    -ms-flex-item-align:center;
    justify-content:flex-start;
}
.vo-optsix-body .con-cell-l4 span{
   font-size: 12px;
   color: #666666;
   margin-left: 4px;
}
.vo-optsix-body input::-webkit-input-placeholder {
    font-size: 12px;
    color: #999999;
}
.vo-optsix-body .vo-modal-footer{
   text-align: right;
   font-size: 12px;
}

/* modal 7 */
.vo-optseven-body .modal-title{
    font-size: 12px;
    color: #333333;
    font-weight: 600;
}
.vo-optseven-body .title-aid{
    font-size: 12px;
    color: #333333;
}
.vo-optseven-body .con-cell-checked{
    margin-bottom: 10px;
    display: flex;
}
.vo-optseven-body .create-help{
    position: absolute;
    left:200px;
    top:-2px;
    cursor: pointer;
}
.vo-optseven-body .help-icon-box{
    position: relative;
    display: inline-block;
}

.vo-optseven-body .create-help-panle{
    width: 200px;
    position: absolute;
    top:28px;
    left: -82px;
    padding: 10px;
    background: #ffffff;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    display: none;
    z-index: 99;
}
.vo-optseven-body .create-help-panle .action-item{
    font-size: 12px;
    color: #333333;
    text-align: left;
}
.vo-optseven-body .create-help-panle .action-item:hover{
    text-decoration: underline !important;
}
.vo-optseven-body .create-help-panle .arrow{
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    top: -22px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #999;
    border-bottom-color: rgba(0,0,0,.25);
    border-width: 11px;
}
.vo-optseven-body .create-help-panle .arrow::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 50%;
    top: 1px;
    transform: translateX(-50%);
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
}
.vo-optseven-body .con-cell-checked-l2{
    position: relative;
}
.vo-optseven-body .con-cell-checked .checked-box{
    width: 15px;
    height: 15px;
    border-radius: 15px;
    border: 1px solid #dddddd;
    position: relative;
    display: inline-block;
    margin-right: 2px;
    cursor: pointer;
}
.vo-optseven-body .con-cell-checked .check-active{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    display: inline-block;
    background: #00B5E2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.vo-optseven-body .con-cell-checked .check-text{
    font-size: 12px;
    color: #333333;
}
.vo-optseven-body .con-cell-list{
    margin-top: 20px;
    position: relative;
}
.vo-optseven-body .con-cell{
    margin-bottom:10px;
}
.vo-optseven-body .con-cell .msg-hint{
   color: red;
   font-size: 12px;
}
.vo-optseven-body .con-cell p{
   font-size: 12px;
   font-weight: 600;
}
.vo-optseven-body .con-cell input{
    border-radius: 4px;
    border: 1px solid #999999;
    padding: 0 10px;
    height: 24px;
    line-height: 24px;
    width: 180px;
}
.vo-optseven-body .con-cell-l1 .input-box{
    width: 180px;
}
.vo-optseven-body .con-cell-l2 .input-box{
    position: relative;
    width: 60px;
}

.vo-optseven-body .con-cell-l3 input{
    width: 70px;
}
.vo-optseven-body .con-cell-l4 .input-box{
    width: 120px;
    display: flex;
    align-items: center;
    -ms-flex-item-align:center;
    justify-content:flex-start;
}
.vo-optseven-body .con-cell-l4 input{
    width: 100%;
}
.vo-optseven-body .con-cell-l4 .date-icon-box{
    position: absolute;
    top: 0px;
    right: 4px;
}
.vo-optseven-body .con-cell-l4 img{
    width: 15px;
    height: 14px;
}
.vo-optseven-body .con-cell-l5{
    position: relative;
}
.vo-optseven-body .book-preview-view{
    position: absolute;
    right: 25px;
    top: 100px;
    width: 180px;
    text-align: center;
}
.vo-optseven-body .book-preview-view .title{
    font-size: 12px;
    color: #333333;
    font-weight: bold;
}
.vo-optseven-body .book-preview-view .title-aid{
    font-size: 12px;
    color: red;
    text-align: left;
}
.vo-optseven-body .book-icon-preview .icon-type-item{
    display: inline-block;
    text-align: center;
}
.vo-optseven-body .book-icon-preview .icon-type-item-1{
    margin-right: 10px;
    cursor: pointer;
}
.vo-optseven-body .book-icon-preview .icon-type-item .icon-check-cell{
    text-align: center;
    margin-top: 10px;
}
.vo-optseven-body .book-icon-preview .icon-type-item .icon-check-box{
    width: 15px;
    height: 15px;
    border: 1px solid #999999;
    border-radius: 15px;
    position: relative;
    display: inline-block;
}
.vo-optseven-body .book-icon-preview .icon-type-item .icon-check-active{
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background: #00B5E2;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.vo-optseven-body input::-webkit-input-placeholder {
    font-size: 12px;
    color: #999999;
}
.vo-optseven-body .vo-modal-footer{
   text-align: right;
   font-size: 12px;
}




































